html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

button {
    width: 8em;
    height: 4em;
    color: red;
    border-radius: 10%;
    border-color: transparent;
    cursor: grab;
}

.board {
    width: 40em;
    height: 40em;
    background-color: red;
}